body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
div {
    display: flex;
    flex-wrap: wrap;
    
}
div p {
    flex-basis: 30px;
    padding: 5px;
    box-shadow: 0 0 10px;
    margin: 10px;
    width: 300px;
}